@model FactorialViewModel
@{
    ViewData["Title"] = "View";
}
<style>
    .break-word {
        word-wrap: break-word;
    }
</style>
<h2>Factorial</h2>

@if (Model?.FactorialOfN != null)
{
    <h3>The factorial of @Model.N</h3>
    <p class="break-word">@Model.N! = @Model.FactorialOfN</p>
}

<form class="form-inline" method="POST">
    <label class="sr-only" for="inlineFormInput">n</label>
    <input type="text" asp-for="N" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput" placeholder="Enter n">

    <button type="submit" onclick="$('.alert').alert('close')" class="btn btn-primary">Submit</button>
</form>
